:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1e1e1e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

:root:after {
  content: "zoin";
  position: absolute;
  bottom: -100px;
  right: -30px;
  font-size: 400px;
  font-weight: 300;
  letter-spacing: 10px;
  color: rgba(255, 255, 255, 0.8);
  pointer-events: none;
  user-select: none;
  font-family: "KyivTypeSans"
}

body {
  font-family: "KyivTypeSans", sans-serif;
}