.job-card {
  padding: clamp(16px, 3vw, 28px);
  border-radius: clamp(20px, 4vw, 40px);

  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.9),
    rgba(20, 20, 20, 0.9)
  );

  display: grid;
  grid-column: 60% 40%;
  justify-content: space-between;
  align-items: center;
}

/* LEFT SIDE */
.job-left {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* RIGHT SIDE */
.job-right {
  grid-column: 2 / 3;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
}
